<form #listForm="ngForm" (ngSubmit)="addList()">
    <div class="row">
        <div class="col-6">
            <div class="input-group">
                <label class="sr-only" for="exampleInputList">List</label>
                <input [(ngModel)]="list.name" class="form-control" id="exampleInputList" name="list" placeholder="Add a category!" required
                       type="text">
                <span class="input-group-btn">
                    <button [disabled]="!listForm.valid" class="btn btn-primary" type="submit">Submit</button>
                </span>
            </div>
        </div>
    </div>
</form>

<div *ngIf="lists.length > 0" class="grid grid-pad">
    <div *ngFor="let list of lists" class="col-1-4">
        <a routerLink="/menu/{{list.name}}">
            <div class="module list">
                <h3>{{list.name}}</h3>
            </div>
        </a>
        <button (click)="deleteList(list)" class="btn btn-danger btn-sm delListBtn" type="button">X</button>
    </div>
</div>

<div *ngIf="lists.length <= 0" class="mt-4 row">
    <div class="col-12">
        <div class="alert alert-warning">
            You don't have any movie menus yet!
        </div>
    </div>
</div>