<div id="homeComponent">

    <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[0].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[0].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[1].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[1].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[2].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[2].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[3].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[3].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[4].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[4].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[5].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[5].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[6].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[6].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[7].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[7].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[8].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[8].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[9].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[9].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[10].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[10].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[11].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[11].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[12].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[12].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[13].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[13].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[14].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[14].title}}</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.imdbMovies[15].backdrop_path}}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{this.imdbMovies[15].title}}</p>
                </div>
            </div>
    </div>
    </div>

    <form class="inputField" #listForm="ngForm" (ngSubmit)="addList()">
        <div class="row justify-content-md-center">
            <div class="col-5">
                <div class="input-group">
                    <label class="sr-only" for="exampleInputList">List</label>
                    <input [(ngModel)]="list.name" class="form-control" id="exampleInputList" name="list" placeholder="Add a category!" required
                        type="text">
                    <span class="input-group-btn">
                        <button [disabled]="!listForm.valid" class="btn btn-primary" type="submit">Submit</button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="lists.length > 0" class="grid">
        <div *ngFor="let list of lists" class="box module">
            <div class="btnDiv">
                <a routerLink="/menu/{{list.name}}">
                    <h4 class="listName">{{list.name}}</h4>
                </a>
            </div>
            <div class="btnDiv">
                <button (click)="deleteList(list)" class="btn btn-danger btn-sm delListBtn" type="button">X</button>
            </div>
        </div>
    </div>

    <div *ngIf="lists.length <= 0" class="mt-4 row">
        <div class="col-12">
            <div class="alert alert-warning">
                You don't have any movie menus yet!
            </div>
        </div>
    </div>

</div>