h1,
h2,
h3,
h4 {
  font-family: 'Nova Slim', cursive;
}

p,
a {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #03a9f4;
}

a:hover {
  text-decoration: none;
}

button,
#singleMovieImg {
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stars {
  height: 50px;
  width: auto;
}

fieldset {
  margin: auto !important;
}

.ratingCategory {
  font-size: 9pt;
  height: 35px;
}

.rating,
.ratingCategory {
  float: left;
}

.rating:not(:checked) > input,
.ratingCategory:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label,
.ratingCategory:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked) > label:before,
.ratingCategory:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label,
.ratingCategory > input:checked ~ label {
  color: #f70;
}

.rating:not(:checked) > label:hover,
.ratingCategory:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label,
.ratingCategory:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating > input:checked ~ label:hover,
.ratingCategory > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.ratingCategory > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label,
.ratingCategory > label:hover ~ input:checked ~ label {
  color: #ea0;
}

#centerMe {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#singleMovieImg {
  float: left;
  border: solid 4px rgb(44, 44, 44);
  margin: 15px;
  margin-top: 25px;
  margin-left: 40px;
}

.categoryMovies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  overflow: scroll;
  margin: auto;
}

.cateogoryMovieTitle {
  padding-top: 2px;
  text-emphasis: bold;
  font-size: 14px;
}

.movieDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 200px;
  margin: 10px;
}

.movieDiv > * {
  padding: 2px;
  margin: 0;
  text-align: center;
}

.categoryMovieImg {
  border: solid 4px rgb(44, 44, 44);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  width: auto;
  padding: 0;
  margin-bottom: 2px;
}

#movieDetailDiv {
  width: 1000px;
  padding: 15px;
  height: 540px;
}

#movieDetailDiv > * {
  padding: 5px;
}

#aboutDiv,
#movieDetailDiv {
  border-radius: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

#aboutTitle,
.movieName {
  color: rgb(77, 1, 107) !important;
  text-align: center;
  font-size: 2em;
}

.nav {
  background-color: rgb(15, 38, 53) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  display: inline;
  position: relative;
  top: 3px;
  color: rgb(177, 230, 255);
  padding-left: 5px;
}

.nav-link {
  font-size: 14pt;
  transition: 0.4s;
}

.nav-link:hover {
  color: #f5f5f5 !important;
}

.listDiv {
  overflow: hidden;
}

.delMovieBtn {
  margin: auto;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgb(190, 57, 24);
}

.delListBtn {
  float: right;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  background-color: rgb(190, 57, 24);
}

.delListBtn:hover,
.delMovieBtn:hover {
  background-color: rgb(153, 19, 19);
}

.delListBtn {
  position: relative;
  left: 30px;
  bottom: 115px;
}

.navImg {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.inputField {
  margin: auto;
}

.categoryName {
  color: rgb(77, 1, 107) !important;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  margin: 20px;
  height: 100px;
  padding: 15% 0px;
  line-height: 90px;
  text-align: center;
  color: rgb(184, 184, 184);
  max-height: 120px;
  min-width: 120px;
  background-color: #6a5d8f;
  border-radius: 50px;
  transition: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.module:hover {
  background-color: rgb(61, 41, 116);
  cursor: pointer;
  color: #f5f5f5;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

/* MovieSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607d8b;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
