<nav class="bg-light fixed-bottom navbar navbar-expand navbar-light">
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#bottomNavbarCollapse" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bottomNavbarCollapse">
        <span class="navbar-text">
            <a href="https://github.com/carajean/Movies">GitHub Repo</a>&nbsp;| <a href="https://www.linkedin.com/in/carolyn-campbell/">Carolyn's LinkedIn</a>
            &nbsp;|&nbsp;&copy; 2019
        </span>
    </div>
</nav>