<nav class="nav bg-dark mb-4 navbar navbar-dark navbar-expand-md">
    <a [routerLink]="['/menu']" class="navbar-brand">
        <img src="assets/blueLogo.png" class="navImg" />
        <h3 id="title">Magnificent Movie Menu</h3>
    </a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#topNavbarCollapse" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbarCollapse">
        <ul class="mr-auto navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/menu/all']" class="nav-link">Movies</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/about']" class="nav-link">About</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/carolyn-campbell/" target="_blank">
                    <img class="navImg" src="assets/ccPixieStripeCircle.jpg"/>
                </a>
            </li>
        </ul>
    </div>
</nav>