<div id="movieDetailDiv" class="jumbotron">
  
  <img id="singleMovieImg" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.selectedMovie?.poster_path}}">

  <h3 class="movieName">{{this.selectedMovie.title}}</h3>
  <div><span>Release Year: </span>{{this.movie.year}}</div>
  <div>
    <span>Category: </span>
    <a routerLink="/menu/{{this.movie.category}}">{{this.movie.category}}</a>
  </div>

  <div>{{ this.selectedMovie.overview }}</div>

  <fieldset class="rating">
    <input type="radio" [name]="inputName" value="5" [checked]="this.movie.rating===5" />
    <label title="Love it!" (click)='onClick(5)'>5 stars</label>

    <input type="radio" [name]="inputName" value="4" [checked]="this.movie.rating===4" />
    <label title="Good" (click)='onClick(4)'>4 stars</label>

    <input type="radio" [name]="inputName" value="3" [checked]="this.movie.rating===3" />
    <label title="Alright" (click)='onClick(3)'>3 stars</label>

    <input type="radio" [name]="inputName" value="2" [checked]="this.movie.rating===2" />
    <label title="Meh" (click)='onClick(2)'>2 stars</label>

    <input type="radio" [name]="inputName" value="1" [checked]="this.movie.rating===1" />
    <label title="Bad" (click)='onClick(1)'>1 star</label>
  </fieldset>
    
</div>
