<div id="aboutDiv" class="jumbotron">
    <h4 id="aboutTitle" class="display-4">About the Project</h4>
    <br>
    <p>{{message}}</p>
    <p>{{message2}}</p>
    <ul>
        <li>utilize TMDb api for autocompleting movie titles from typed input</li>
        <li>sort movies alphabetically and chronologically</li>
        <li>filter movies by unwatched or by rating</li>
        <li>link movies to IMDb urls and/or preview videos</li>
        <li>display top movies per category from TMDb</li>
    </ul>
</div>