nav {
  background-color: rgb(145, 195, 206) !important;
}

a.navbar-brand {
  color: rgb(213, 41, 2);
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.navbar-brand:visited,
a.navbar-brand:active {
  color: rgb(213, 41, 2);
}

a.navbar-brand:hover {
  color: rgb(172, 32, 0);
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

#navImg {
  height: 70px;
  width: 70px;
  padding: 5px;
}
