<h3 class="categoryName">{{this.category}}</h3>
<br />

<div *ngIf="this.category !== 'All Movies'">
    <div>
        <form class="mt-4 row" class="inputFieldCategory" #movieForm="ngForm" (ngSubmit)="addMovie()">
                <div class="col-5">
                    <div class="input-group">
                        <label class="sr-only" for="exampleInputMovie">Movie</label>
                        <input [(ngModel)]="movie.name" class="form-control" id="exampleInputMovie" name="movie" placeholder="Add a movie!" required type="text">
                        <span class="input-group-btn">
                            <button [disabled]="!movieForm.valid" class="btn btn-primary" type="submit">Submit</button>
                        </span>
                    </div>
                </div>
        </form>

        <div *ngIf="movies.length > 0" class="mt-4 row flex-container categoryMovies">
            <div *ngFor="let movie of movies; let i = index" class="movieDiv">

                <a class="categoryMovieTitle" routerLink="/movie/{{movie.slug}}">

                <img class="categoryMovieImg" src="https://image.tmdb.org/t/p/w300/{{this.imdbMovies[i]?.poster_path}}"></a>

                <fieldset class="ratingCategory">
                    <input type="radio" value="5" [checked]="movie.rating===5" />
                    <label title="Love it!">5 stars</label>

                    <input type="radio" value="4" [checked]="movie.rating===4" />
                    <label title="Good">4 stars</label>

                    <input type="radio" value="3" [checked]="movie.rating===3" />
                    <label title="Alright">3 stars</label>

                    <input type="radio" value="2" [checked]="movie.rating===2" />
                    <label title="Meh">2 stars</label>

                    <input type="radio" value="1" [checked]="movie.rating===1" />
                    <label title="Bad">1 star</label>
                </fieldset>
                
                <h4><a class="categoryMovieTitle" routerLink="/movie/{{movie.slug}}">
                    {{movie.name}}
                </a></h4>
                <p>{{movie.year}}</p>
                <p>{{movie.category}}</p>
                <button (click)="deleteMovie(movie)" class="delMovieBtn btn btn-danger btn-sm" type="button">X</button>

            </div>
        </div>
    </div>

    <div *ngIf="movies.length <= 0" class="mt-4 row">
        <div class="col-12">
            <div class="alert alert-warning">You don't have any movies in this category!</div>
        </div>
    </div>
</div>

<div *ngIf="this.category === 'All Movies'">
    <div *ngIf="movies.length > 0" class="mt-4 row">
        <div class="col-12 table-responsive movieDiv">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Movie</th>
                    <th>Category</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let movie of movies; let i = index">
                    <td>{{movie.year}}</td>
                    <td>
                        <a routerLink="/movie/{{movie.slug}}">{{movie.name}}</a>
                    </td>
                    <td>{{movie.category}}</td>
                    <td class="ratingCategoryAll">
                        <fieldset class="ratingCategory">
                            <input type="radio" value="5" [checked]="movie.rating===5" />
                            <label title="Love it!">5 stars</label>

                            <input type="radio" value="4" [checked]="movie.rating===4" />
                            <label title="Good">4 stars</label>

                            <input type="radio" value="3" [checked]="movie.rating===3" />
                            <label title="Alright">3 stars</label>

                            <input type="radio" value="2" [checked]="movie.rating===2" />
                            <label title="Meh">2 stars</label>

                            <input type="radio" value="1" [checked]="movie.rating===1" />
                            <label title="Bad">1 star</label>
                        </fieldset>
                    </td>
                    <td>
                        <button (click)="deleteMovie(movie)" class="delMovieBtn btn btn-danger btn-sm" type="button">X</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="movies.length <= 0" class="mt-4 row">
        <div class="col-12">
            <div class="alert alert-warning">You don't have any movies saved!</div>
        </div>
    </div>
</div>